{% extends 'info/base.html' %}
{% load static %}

{% block style %}
<title>Контакты</title>
{% endblock style %}

{% block content %}
<main>
      <h1>Контакты</h1>
      <div class="contact-wrapper">
        <div class="contact-info">
          <h2>Адрес</h2>
          <p>1234 улица Пример, город, страна</p>
        </div>
        <div class="contact-info">
          <h2>Телефон</h2>
          <p>+1 (234) 567-8901</p>
        </div>
        <div class="contact-info">
          <h2>Email</h2>
          <p>example@example.com</p>
        </div>
      </div>
    </main>
{% endblock content %}