{% extends 'info/base.html' %}
{% load static %}

{% block style %}
<title>Главная</title>
{% endblock style %}

{% block content %}
    <main>
      <h1>Добро пожаловать на страницу о животных</h1>
      <p>Здесь вы можете узнать много интересного о наших милых друзьях из животного мира!</p>

      {% for i in animal %}
      <hr>
      <p>{{ i.name }}</p>
      <p>Возраст:{{ i.age }}</p>
      <p>{{ i.text }}</p>
      <p>Категория:{{ i.category }}</p>
      <p>Кличка:{{ i.nickname }}</p>
      {% if i.image %}
      <img src="{{ i.image.url }}">
      {% endif %}
      {% endfor %}
    </main>
{% endblock content %}