{% extends 'info/base.html' %}
{% load static %}

{% block style %}
<title>О нас</title>
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock style %}

{% block content %}
<main>
      <div class="about-us">
        <h1>О нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mi nec tortor laoreet, euismod eleifend quam pharetra. Morbi nec ante eget libero luctus eleifend. Nullam euismod, felis et bibendum tristique, neque sapien facilisis metus, vel bibendum ipsum sapien auctor tellus. Aenean et nibh vel massa viverra consectetur. Donec fermentum felis in orci pellentesque, vel semper lectus pellentesque. Aliquam at sagittis sapien. Integer vestibulum, mauris nec euismod lobortis, elit odio auctor justo, vel cursus nisi nibh vel lectus.</p>
        <p>Morbi eu turpis purus. Nam eget lacus vitae ante molestie laoreet. Suspendisse et turpis vitae eros feugiat congue id id purus. Integer volutpat laoreet turpis, in lacinia orci. Maecenas accumsan ornare velit, vel facilisis arcu facilisis vel. Ut a posuere nibh. Integer posuere suscipit quam. Suspendisse potenti.</p>
        <p>Nunc maximus, mauris ac finibus pretium, erat erat varius lectus, sed finibus risus quam quis dui. Nam non ante quis odio bibendum lobortis. Vestibulum id nisl dui. Maecenas placerat libero vel eros bibendum, quis laoreet eros semper. Vestibulum cursus nunc in nunc dapibus, eget auctor enim gravida. Sed ut velit eros. Curabitur et quam bibendum, euismod est ut, consequat metus. Praesent euismod ut felis non faucibus.</p>
      </div>
    </main>
{% endblock content %}