/* Стили для хедера */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Стили для футера */
footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

footer li:last-child {
  margin-right: 0;
}

footer a {
  color: #333;
  text-decoration: none;
}
